<a href="https://colab.research.google.com/github/chanyut12/github-example/blob/main/lab12_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list1 =[1,2,3,4,5]
list2 = list()
print("list2 before assighment")
print(list2)
#make list2 from list1
list2 = list1
print(list2)
list2.append(12)
print(list2)

list2.append([13,14,15])
print(list2)

print("_____________End of program _______________")
print("Current value of list1")
print(list1)
print("Current value of list2")
print(list2)
print(list2[6][2])

list2 before assighment
[]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 12]
[1, 2, 3, 4, 5, 12, [13, 14, 15]]
_____________End of program _______________
Current value of list1
[1, 2, 3, 4, 5, 12, [13, 14, 15]]
Current value of list2
[1, 2, 3, 4, 5, 12, [13, 14, 15]]
15

In [ ]:
first = 10
second = 20
third = 3.1415
fourth = 'END'
print('1. First number is',first,'and second number is',second,third,fourth)
print('2. First number is %d and second number is %d %f %s' %(first,second,third,fourth))
print ('%s' %fourth[1])
print ('%d' %third)
print ('%.3d' %third)
print ('%.7d' %third)
print ('%f' %third)
print ('%.3f' %third)
print ('%.7f' %third)

1. First number is 10 and second number is 20 3.1415 END
2. First number is 10 and second number is 20 3.141500 END
N
3
003
0000003
3.141500
3.142
3.1415000

In [ ]:
n = int(input())
def fac(n):
    if n==1:
        return 1
    return n * fac(n-1)

fac(n)

5

120

In [10]:
file =  open('/content/66160295_01.txt' , 'w')
id_ = input()
fname = input()
lname = input()

file.write(f"{id_}\n")
file.write(f"{fname}\n")
file.write(f"{lname}")
file.close()

f = open("66160295_01.txt", "r")
print("{}".format(f.read()))

66160295
chanyut
lisawat
66160295
chanyut
lisawat

In [11]:
n = int(input())
f = open("66160295_01.txt",'r')
print("{}".format(f.read()))
print(f"I’m {n} years old")

19
66160295
chanyut
lisawat
I’m 19 years old

In [30]:
#OOP
rate = 38.28

def baht():
        amount_in_baht = float(input("Enter the amount in baht: "))
        return amount_in_baht

def dollars(amount_in_baht):
    return amount_in_baht / rate

def write_to_file(amount_in_baht, amount_in_us_dollars):
    filename = "66160295_converter.txt"

    with open(filename, 'w') as file:
        file.write(f"{amount_in_baht:.2f} baht = {amount_in_us_dollars:.2f} US dollars\n")

    f = open(filename , "r")
    print(f.read())

def main():
    amount_in_baht = baht()
    amount_in_us_dollars = dollars(amount_in_baht)
    write_to_file(amount_in_baht, amount_in_us_dollars)

if __name__ == "__main__":
    main()

Enter the amount in baht: 200.5
200.50 baht = 5.24 US dollars

In [25]:
file = open("66160295_table.txt","w")
id_ = int(input())
Id = (id_ %10)+1
for i in range(12):
  file.write("{} x {} = {}\n".format(Id , i+1 , Id*(i+1)))

f = open("66160295_table.txt",'r')
print(f.read())

66160295
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
6 x 11 = 66
6 x 12 = 72